<div class="container">
  <h2 class="title" style="font-size: 30px">Become a host today</h2>
  <h6 class="title" style="font-size: 20px">Tell us more about your listing</h6>
  <form class="register-form"  [formGroup]="form" (ngSubmit)="add()">
    <!-- <pre>{{form.value |json}}</pre> -->
    <mat-form-field appearance="fill">
      <mat-label>Title</mat-label>
      <input
        matInput
        type="text"
        name="title"
        formControlName="title"
              
      />
      <mat-error>Title is required!</mat-error>
   
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Location</mat-label>
      <input
        matInput
        type="text"
        name="location"
        formControlName="location"
      />
      <mat-error>Location is required!</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Image</mat-label>
      <input matInput type="url" name="url"  formControlName="img" />
      <mat-error>Image URL is required!</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Price per night</mat-label>
      <input
        matInput
        type="number"
        name="price"
        formControlName="price"
      />
      <mat-error>Price is required!</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Category</mat-label>
      <mat-select name="category" formControlName="category">
        <mat-option value="house">House</mat-option>
        <mat-option value="apartment">Apartment</mat-option>
        <mat-option value="room">Room</mat-option>
        <mat-option value="room">Other</mat-option>
      </mat-select>
      <mat-error>Category is required!</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <textarea matInput name="description" formControlName="description" ></textarea>
    </mat-form-field>
    <input type="submit" name="submit" value="Create" class="btn" />
  </form>
</div>
