<!-- navbar -->

<div>
  <mat-toolbar color='primary'>
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <div id='logo'><a routerLink="/">Bed.And.Breakfast</a></div>
    <ul class="nav-links">
      <li><a routerLink="/login">LogIn</a></li>
      <li><a routerLink="/register">Register now</a></li>
      <li><a routerLink="/profile">View Profile</a></li>
      <li><a routerLink="/logout">Logout</a></li>
    </ul>
  </mat-toolbar>
</div>


 <!-- jumbotron -->

 <div class="hero-image">
  <div class="hero-text">
    <h1>Start exploring now</h1>
    <p>Find a place to stay for your next holiday or offer one yourself</p>
    <button mat-raised-button color="accent">Start Now</button>
  </div>
</div>