<div class="container">
  <form action="#" class="register-form">
    <h2 class="title">Sign Up Today</h2>
    <div class="input-field">
      <span class="material-icons"> person </span>
      <input type="text" name="username" placeholder="Username" autocomplete="off" />
    </div>
    <div class="input-field">
      <span class="material-icons"> email </span
      ><input type="text" name="email" placeholder="Email" autocomplete="off"/>
    </div>
    <div class="input-field">
      <span class="material-icons"> password </span
      ><input type="password" name="password" placeholder="Password" autocomplete="off"/>
    </div>
    <div class="input-field">
      <span class="material-icons"> check </span>
      <input type="password" name="rePass" placeholder="Confirm Password" autocomplete="off"/>
    </div>
    <input type="submit" name="submit" value="Register" class="btn">
  </form>
</div>
