<ng-template [ngIf]="listing">
  <div class="wrapper">
    <div class="product-img">
      <img src="{{ listing.img }}" height="420" width="320" />
    </div>
    <div class="product-info">
      <div class="product-text">
        <h1>{{ listing.title }}</h1>
        <h2>{{ listing.category }} located in {{ listing.location }} </h2>
        <p>{{ listing.description }}</p>
      </div>
      <div class="product-price-btn">
        <p>
          <span>{{ listing.price }}</span
          >$
        </p>
        <button type="button">Book Now</button>
      </div>
    </div>
  </div>
</ng-template>
