<h2 class="title" style="font-size: 30px">
  Find a great place to stay on your next trip
</h2>
<h6 class="title" style="font-size: 20px">Let's get started.</h6>


<div class="container">
  <p>Search for accomodation using the form below:</p>
  <form #form="ngForm">
    <input
      class="search-input"
      name="query"
      type="search"
      placeholder="Enter key words here"
      required
      [(ngModel)] = listingName
    />
    <button class="btn" type="submit" [disabled]="form.invalid">Search</button>
  </form>
</div>


<div class="wrapper" *ngIf="allListings">
  <div class="" *ngFor="let listing of allListings">
    <app-catalog-listing [listing]="listing"></app-catalog-listing>
  </div>
</div>

<mat-spinner class="spinner" *ngIf="!allListings"></mat-spinner>


<mat-paginator
  [length]="100"
  [pageSize]="5"
  [pageSizeOptions]="[5]"
  aria-label="Select page"
>
</mat-paginator>
