<ng-template [ngIf]="listing">
  <div class="wrapper">
    <div class="product-img">
      <img src="{{ listing.img }}" height="420" width="320" />
    </div>
    <div class="product-info">
      <div class="product-text">
        <h1>{{ listing.title }}</h1>
        <h2>{{ listing.category }} located in {{ listing.location }} </h2>
        <p>{{ listing.description === '' ? 'No descrition was provided.' : listing.description}}</p>
      </div>
      <div class="product-price-btn">
        <p>
          <span>{{ listing.price }}</span
          >$
        </p>
       
        <button  *ngIf="user.id != listing.owner" class="btn" type="button" (click)="bookListing(listing._id)">Book Now</button>
        <p *ngIf="">You have already booked!</p>
        <button *ngIf="user.id === listing.owner" class="btn owner" style="background-color: rgb(112, 230, 200);
        " type="button" routerLink="/catalog/edit/{{listing._id}}">Edit</button>
          <button *ngIf="user.id === listing.owner" class="btn " style="background-color: rgb(238, 73, 155);
          " type="button" (click)="deleteListing(listing._id)">Delete</button>

      </div>
    </div>
  </div>
</ng-template>
