.container{
    min-height: 120vh;
}

.wrapper{
    height: 430px;
    width: 650px;
    margin: 50px auto;
    border-radius: 7px 7px 7px 7px;
    box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
}
.product-img{
    float: left;
    height: 430px;
    width: 325px;
}
.product-img img{
    border-radius: 7px 0 0 7px;

}
.product-info{
    float: left;
    height: 430px;
    width: 325px;
    border-radius: 0 7px 10px 7px;
}

.product-text{
    height: 220px;
    width: 325px;
}

.product-text h1{
    margin: 0 0 0 20px;
    padding-top: 50px;
    font-size: 34px;

}

.product-text h2{
    margin: 0 0 10px 10px;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}
.product-text p {
    margin: 0 20px 0 20px;
    line-height: 1.7em;
    font-size: 15px;
    font-weight: lighter;
    overflow: hidden;
    text-align: justify;
}

.product-price-btn{
   
    margin-top: 50px;
    position: relative;
}
.product-price-btn p{
    display: inline-block;
      margin: 30px 0 0 20px;
    font-size: 28px;
    font-weight: lighter;
}

span{
    display: inline-block;
    height: 50px;
    font-size: 34px;
}
.product-price-btn button{
    float: right;
    height: 50px;
    width: 160px;
    margin: 20px 20px 5px 0;
    box-sizing: border-box;
    border: transparent;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    cursor: pointer;
    outline: none;

}
.msg{
    max-width: 400px;
    margin: 20px auto;

}
