mat-toolbar {
background-color: rgb(111, 117, 116);
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
 
}

#logo {
  text-transform: uppercase;
  position: relative;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 35%;
}
.nav-links li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
  letter-spacing: 3px;
  font-size: 20px;
}
a:hover {
  color: rgb(181, 238, 228);
  cursor: pointer;
  font-size: 24px;
}

.menu {
  font-size: 30px;
  color: white;
}
.menu:hover {
  color: rgb(181, 238, 228);
  cursor: pointer;
  font-size: 40px;
}


